RewriteEngine on

RewriteRule ^posts/([^/]*)/$ /posts/$1 [R=301]
RewriteRule ^posts$ /posts/ [R=301]
RewriteRule ^posts/$ index.php
RewriteRule ^feed$ feed.php

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^posts/[^/]*$ index.php

Options FollowSymLinks MultiViews
AddEncoding x-gzip .gz

php_flag short_open_tag off

ErrorDocument 404 /index.php?error=404
