@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);

/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for IE... */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}

/* main */
body { font-family: 'Open Sans', sans-serif; background: #FFE; color: #333; font-size: 16px; line-height: 1; }
[title] { border-bottom: 1px dashed #999; }
img[title] { border: 0; }
h1, h2, h3, h4, h5 { font-family: 'PT Serif', serif; color: #154F70; }
strong { font-weight: bold; }
em { font-style: italic; }
#wrapper { max-width: 36em; margin: 0 auto; padding: 1em; }
p, ol, ul { margin: 1.6em 0; line-height: 1.6;}
ul ul { margin: 0 inherit; }
ol, ul { margin-left: 20px; }
header + p { margin: 0; }
.logo { font-family: 'PT Serif', serif; letter-spacing: -.06em; font-size: 1.1em; }
header h1 { font-size: 5em; position: relative; color: #1D6A96; }
#wrapper > footer { color: #154F70; }
#flair { position: absolute; font-size: .7em; right: 0; bottom: 5px; border: 0; }
header hr { position: relative; top: -20px; }
h1 a, h1 a:hover, h2 a { color: inherit; text-decoration: none;}
pre, code { font-family: 'Oxygen Mono', monospace; background: #FFFFF7; }
code { font-size: .8em; }
pre { font-size: .7em; }
blockquote { border-left: 5px solid #DDD; padding: 0 1em; }
blockquote p { font-style: italic; }
blockquote cite { font-style: normal; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
h2 { font-size: 2.5em; }
h3 { font-size: 1.5em; }
hr { border: 1px solid #1d6a96; }
article > hr { border: 1px solid #1d6a96; opacity: 0.1; }
#wrapper > hr { margin: 1.6em 0; opacity: .67; }
article footer { text-align: right; }
sub, sup { font-size: .83em; }
sub { vertical-align: sub; }
sup { vertical-align: super; }
#wrapper > header, footer { opacity: .67; }
small { font-size: 0.7em; }

/* mobile */
@media screen and (max-width: 600px) {
    #flair { display: none; }
    pre { font-size: .6em; }
    h2 { font-size: 2em; }
    h3 { font-size: 1.5em; }
}
