{% block content %}
    <article>
        <h2>
            <a href="/{{ post.category}}">{{ post.category|replace("-", " ") }}</a>
            /
            <strong><a href="/{{post.category}}/{{ post.slug }}">{{ post.slug|replace("-", " ")|title }}</a></strong>
        </h2>
        {% include post.category + "/" + post.slug + ".html" %}
        <footer><p>Last updated on <time title="{{ post.updated.strftime('%Y-%m-%d %H:%M:%S') }}">{{ post.updated.strftime('%Y-%m-%d') }}</time>.</p></footer>
    </article>
{% endblock %}
